/* https://www.cdnfonts.com/ */
/* https://fonts.google.com/ */
/* https://htmlcolorcodes.com/es/ */
/* https://color.adobe.com/es/create/image */
/* https://cssgradient.io/ */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Define variables personalizadas para ser usadas luego */
:root{
    --gold1: #f4bd76;
    --gold2: #f6cd8f;
    --gray: #ffffff80;
    --gray2: #f7d9d990;
    --black1: #1a1b1f;
    --black2: #30353b;
    /* Las sombras se les especifica arriba,derecha,izquierda y abajo, el ultimo es el difuminado */
    --shadow: 0 0.9px 6px;
    --color_shadow: #000033;
}

/* pseudoclase de selector universal */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* Las clases se denotan con . los id con # y la etiqueta HTML sin nada */
body{
    font-family: Bebas,sans-serif ;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    /* Esta propiedad oculta los elementos */
    overflow: hidden;
    padding: 100px 0;
    height: auto;
}

.hero {
    width: 100%;
    /* altura minima del dispositivo view heigth*/
    min-height: 100vh;
    /* Establecer un fondo con un degradado lineal */
    /* linear-gradient(180deg) crea un degradado horizontal de izquierda a derecha */
    /* Los colores significan que toma de 0 con el color2 a 100% del color 1 */
    background: linear-gradient(180deg,var(--black2) 0%,var(--black1 )100%);
    
}

.nav_hero{
    color: #ffffff;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    background-color: var(--black1) ;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    box-shadow: 0px 4px 3px rgba(255, 255, 255, 0.1)
}

.nav_container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}

.logo__name{
    font-size:24px ;
    text-decoration: none;
    color: inherit;
}

.link{
    display: inline-block;
    color: inherit;
    /* le quita el subrayado */
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}

.link--active{
    color: var(--gold1);
    font-weight: 700 ;
}

.point{
    color: var(--gold1)
}

.hero_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1;
}

.mockup{
    object-fit: cover;
    width: 38%;
    min-height: 90vh;
}

.hero_textos {
    width: 48%;
}

.title{
    font-size: 56px;
    font-weight: 300;
    color: white;
}

.title--active{
    color: var(--gold1);
    font-weight: 700;
}

.copy{
    font-size: 24px;
    color: white;
    text-shadow: var(--shadow);
}

.copy_active{
    font-weight: 700;
}

.cta{
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg, #f7ce90 0%, #f4bd76 100%);
    text-decoration: none;
    color: var(--black2);
    font-weight: 700;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 150px;
}

.services{
    background: #fafafa;
}

.subtitle{
    font-size: 42px;
}

.subtitle--modifier{
    text-align: center;
    margin-bottom: 16px;
}

.copy__section{
    color: var(--black2);
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}

.copy__section--modifier{
    text-align: center;
    margin-bottom: 32px;
}

.container-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card{
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    /* Aplica una sombra al elemento utilizando la propiedad box-shadow */
    box-shadow: 0 0 6px var(--color_shadow);
    transition: 0.6s;

   /* - 0 0: Desplazamiento horizontal y vertical de la sombra, en este caso, no hay desplazamiento (sombra centrada).
   - 6px: Radio de difuminado de la sombra, creando un efecto suave en un área de 6 píxeles alrededor del elemento.
   - var(--color_shadow): Color de la sombra obtenido de la variable CSS --color_shadow. */

}

.card:hover{
    box-shadow: 10px 10px 3px var(--gold1);
    

}

.projectscontainer{
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%,var(--black1 )100%);
}
.card__img{
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px;
    margin-right: 10px;
    /* display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; */
}

.cards__text{
    text-align: left;
    width: 90%;
    margin:0 auto;
}

.card__list{
    color: var(--gold2);
    font-weight: 700;
    /* Establece márgenes en las direcciones superior, derecha, inferior e izquierda del elemento */
    margin: 25px 0 12px;

   /* - 25px: Margen superior de 25 píxeles.
   - 0: No se aplican márgenes en los lados derecho e izquierdo.
   - 12px: Margen inferior de 12 píxeles. */
    font-size: 18px;
}


.card__title{
    font-size: 40px;
    color: #fff;
    margin-bottom: 8px;
}

.card__copy{
    color: var(--gray2);
    margin-bottom: 16px;
}

.card__button{
    display: block;
    background: linear-gradient(180deg, #F7CE90 0%, #F4BD76 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: var(--black1);
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}

.card__date{
    color: var(--gold2);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.container-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.co{
    color: rgb(255, 230, 0);
}
.lom{
    color: rgb(0, 17, 255);
}
.biana{
    color: rgb(255, 8, 0);
}
.bia{
    color: rgb(255, 8, 0);
}
.background{
    width: 68%;
    height: 290px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
}

.background__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.background__text{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 15px;
    color: #fff;
}

.background__title{
    font-size: 24px;
    margin-bottom: 4px;
}



.testimony{
    background: linear-gradient(180deg, var(--black1 )0%, rgb(255, 255, 255) 100%);
}

#copy__section{
    color: white;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}

.testimony-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* Controla el comportamiento de envoltura de elementos en un contenedor flexible */
    flex-wrap: wrap;
/*- wrap: Permite que los elementos flexibles se envuelvan en una nueva línea si no caben en el ancho del contenedor.*/

}

.testimony__card{
    width: 30%;
    height: 500px;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
}

.testimony_img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center top;
}

.testimony__copy{
    position: absolute;
    bottom: 20px;
    left: 5%;
    width: 90%;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: var(--shadow) var(--color_shadow);
    padding: 15px 8px;
    display: flex;
    align-items: center;
}

.testimony-modifier{
    background: none;
    box-shadow: none;
}
/* VAMOS ACAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
.testimony__logo{
    font-size: 40px;
    margin-right: 15px;
    display: inline-block;
}

.testimony__name{
    font-size: 24px;
    line-height:28px;
}

.testimony__position{
    color: var(--gray);
}

.testimony_text{
    padding: 40px 0;
    width: 90%;
    margin: 0 auto;
    color: #fff;
}

.google__logo{
    margin-bottom: 20px;
}


.testimony__history{
    font-size: 21px;
    font-weight: 300;
}


.testimony__info{
    width: 70%;
}

.logo--picture{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center top;
}
.emailcontainer{
color: black;
}
/* check */

.check{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}

.check__item{
    width: 30%;
    padding-right: 10px;
    display: flex;
    border-right: 2px solid var(--black2);
}

.bx-check{
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
    color: #fff;
    border-radius: 50%;
    font-size: 40px;
}

.check__number{
    font-weight: 700;
    color: black;
}

.check__copy{
    font-weight: 300;
}

.newsletter{
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    height: auto;
    font-family: inherit;
    position: relative;
    border-radius: 6px;
}

.newsletter--modifier{
    margin: 0;
    width: 80%;
}

.newsletter__input{
    width: 100%;
    height: 100%;
    padding: 22px 10px;
    outline: none;
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid var(--black1)
}

.newsletter__submit{
    position: absolute;
    right: 8px;
    top: 10%;
    height: 80%;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    color: #fff;
    padding: 0 15px;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
}


.footer{
    background: #fafafa;
}

.footer__caption{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}


.title__footer{
    font-size: 24px;
    margin-bottom: 32px;
}

.download{
    width: 50%;
    color: black;
}

.download__app{
    display: flex;
}

.download__item{
    display: flex;
    padding: 18px 12px;
    border-radius: 6px;
    border: 1px solid var(--black2);
    width: 42%;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 16px;
    color: black;
}

.download__logo{
    font-size: 40px;
    margin-right: 20px;
}

.download__title{
    font-size: 18px;
}

.footer__copy{
    width: 100%;
    color: var(--black2);
    display: flex;
    flex-wrap: wrap;
}

.copyright{
    width: 100%;
    color: black;
}

.politica__privacidad{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    /* margin-top: 10px; */
}

.politica__privacidad:hover{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    text-decoration: underline;
}

.politica__privacidad--margin{
    margin-right: 10px;
}

.get-email{
    width: 50%;
}

.socialmedia{
    margin-top: 24px;
    display: flex;
    color: var(--black2);
}

.socialmedia__icon{
    font-size: 18px;
    margin-right: 30px;
    display: inline-block;
}

.socialmedia__legend{
    color: var(--black2);
    margin-right: 16px;
}

.contact{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: #fff;
}

.item__contact{
    width: 25%;
    padding: 60px 0;
    text-align: center;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);

}


.item__contact--gold{
    background: linear-gradient(180deg, #F7CE90 0%, #F4BD76 100%);
    color: var(--black1);
}

.contact__icon{
    font-size: 14px;
    color: var(--gold1);
    line-height: 20px;
    margin-right: 4px;
}

.contact__icon--modifier{
    color: var(--black1);
}

.contact__title{
    font-size: 16px;
    line-height: 20px;
}

@media screen and (max-width:900px){
    .mockup{
        width: 600px;
        height: auto;
    }

    .title{
        font-size: 50px;
    }

    .copy{
        font-size: 22px;
    }

    .cta{
        padding: 15px 22px;
    }

    .container-cards{
        justify-content: space-evenly;
    }

    .services .card{
        width: 45%;
    }

    .background{
        width: 52%;
    }

    .card{
        width: 42%;
    }

    .testimony-container{
        justify-content: space-evenly;
    }

    .testimony__card{
        width: 45%;
    }

    .check__item{
        width: 45%;
        margin-bottom: 35px;
    }

    .newsletter{
        width: 80%;
    }

    .download{
        width: 100%;
    }

    .download__app{
        justify-content: space-between;
    }

    .download__item{
        width: 45%;
    }

    .get-email{
        width: 100%;
        margin-bottom: 40px;
    }

    .socialmedia__icon{
        font-size: 18px;
    }

    .socialmedia__legend{
        font-size: 18px;
    }
}

